main{
    background-color: rgba(255, 166, 0, 0.626);
}
.wrapper{

    display: grid;
    gap:5px 10px;
    grid-template-columns: 0.7fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar space_"
    ;
    
}

.grid-col-wrapper{
    display: contents;
    height: auto;
} 
.grid-col-wrapper > *{
    background: orange;
}

.logo{
    box-shadow: 8px 0px 6px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-bottom: 10px;
}
.header{
    grid-area: header;
    background: yellow;
    box-shadow: 0px 4px 6px grey;
    display: block;
    height: 3.5rem;
}
.header .project_name{
    float: left;
    margin: 16px 0 0 10px ;
}
.header .login{
    float: right;
    margin: 16px 10px 0 0px ;
}
.sidebar{
    grid-area: sidebar;
    background: whitesmoke;
    box-shadow: 8px 0px 6px grey;
    text-align: center;
    padding-top: 0px;
}

.btn{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.space{
    grid-area: space_;
    background-color:antiquewhite;
    height: 700px;
}
@media(min-width:700px){
    .main {
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
        "sidebar      header"
        "sidebar   space_";
    }}
a{
    text-decoration: none;
    color: black;
}
ul a:hover{
    color: red;
}
ul li:hover{
    background-color: orange;
}
ul{
    all: unset;
    list-style-type: none;
}
ul li{
    padding: 3px ;
}

.btn_project{
    display: block;
    background: #FF8669;
    border-radius: 0.5rem;
    padding: 6px 10px;
    margin: 6px 0;
}

.btn_project a:hover{
    color: white;
}
button:hover{
    background-color: rgba(203, 77, 31, 0.822);
}

