main {
    background-color: rgba(255, 166, 0, 0.626);
}

body {
    margin: 0;
    margin-top: 0.5px;
    margin-right: 5px;
    font-weight: 600;
    font-family:monospace;
    font-size:larger;
}


.wrapper {
    display: grid;
    /* gap: 5px 5px; */
    grid-template-columns: 0.7fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar space_";
    position: relative;
}

@media(min-width:700px) {
    .main {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "sidebar      header"
            "sidebar   space_";
    }
}

.grid-col-wrapper {
    display: contents;
    height: auto;
}

.grid-col-wrapper>* {
    background: orange;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: #274c7c;
}

.header {
    grid-area: header;
    background: #274c7c;
    display: flex;
    height: 4rem;
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
}
.header .login {
    margin-right:10px;
}

.sidebar {
    grid-area: sidebar;
    background: #888C89;
    text-align: center;
    padding-top: 0px;
}

.btn_project {
    display: flex;
    justify-content: center;
}

.space {
    grid-area: space_;
    background-color: antiquewhite;
    height: 100vh;
    position: relative;
}

#content {
    font-weight: 400;
    margin: 10px 0 0 10px;
}
#mainspace {
    margin: 10px 0 0 10px;
}



a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul a:hover {
    color: red;
}

ul li:hover {
    background-color: orange;
}

ul {
    all: unset;
    list-style-type: none;
}

ul li {
    padding: 3px;
}

.btn_project a{
    display: block;
    background: #FF8669;
    border-radius: 0.2rem;
    padding: 6px 10px;
    margin: 6px 0;
}

.btn_project a:hover {
    color: white;
}

button:hover {
    background-color: rgba(203, 77, 31, 0.822);
}

.test {
    border: 2px solid red;
}
